.App {
  background-color: #322f2f;
  height: 100vh;
  font-family: "Bai Jamjuree", sans-serif;
}

svg {
  fill: currentColor;
}

.App--parent {
  display: grid;
  grid-template-areas:
    "s n n"
    "s c c"
    "s c c";
  grid-template-columns: 150px 1fr;
  grid-template-rows: 0.3fr 1fr 30px;

  height: 100%;
}

.detail {
  color: #fff;
}
.detail span {
  color: yellowgreen;
  font-weight: 700;
}

.aside--List a {
  color: white;
  text-decoration: none;
}
